<div class="row">
  <div class="column">
    <div class="container" style="width: 100%;">
      <div class="panel-group">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align: center">
            <a href={{electionLink}}>The Election of {{currentElection.year}}</a>
          </div>
          <div class="panel-body" style="font-size: small;" [innerHTML]="currentElection.blurb">
          </div>
        </div>
      </div>
      </div>
  </div>

  <div class="column">
    <select class="form-control input-sm" id="election_years" (change)="changeYear()">
      <option *ngFor="let election of elections" [value]="election.year">{{election.year}}</option>
    </select>

    <div class = "row">
      <div class="columnHalf" style="display: flex; justify-content: center; align-items: center;">
        <button class="btn btn-secondary" (click)="previousElection()" [disabled]="currentElection.year == '1796'">Previous Election</button>
      </div>
      <div class="columnHalf" style="display: flex; justify-content: center; align-items: center;">
        <button class="btn btn-secondary" (click)="nextElection()" [disabled]="currentElection.year == '2016'">Next Election</button>
      </div>
    </div>

    <div style="text-align: center;">
      <h2>Popular Vote Share</h2>
    </div>

    <div style="height:20%; display: block;">
      <ngx-charts-pie-chart 
      [results]="currentCandidates"
      [view]="view"
      (select)="onSelect($event)"
      [animations]="false"
      [labels]="true" >
      </ngx-charts-pie-chart>
    </div>

    <table class="table table-bordered table-striped mb-0" style="font-size:11px">
      <thead>
          <tr>
            <th>Candidate</th>
            <th>Party</th>
            <th>Vote Number</th>
            <th>Vote Percentage</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of currentCandidates">
          <td *ngIf="row.name == currentElection.winner.substring(currentElection.winner.lastIndexOf(' ') + 1, currentElection.winner.length)">{{row.fullName}} <span>&#10003;</span> </td>
          <td *ngIf="row.name != currentElection.winner.substring(currentElection.winner.lastIndexOf(' ') + 1, currentElection.winner.length)">{{row.fullName}} </td>
          <td>{{row.party}}</td>
          <td>{{row.value}}</td>
          <td>{{row.percent}}%</td>
        </tr>
      </tbody>
    </table> 
  </div>

  <div class="column">
    <div class="container" [hidden]="!selectedCandidate"  style="width: 100%;">
      <div class="panel-group">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align: center;">
            <a href={{currentCandidateLink}}>{{currentCandidate.name}}</a>
          </div>
          <div class="panel-body" style="font-size: small;" [innerHTML]="currentCandidate.blurb">
          </div>
        </div>
      </div>
      </div>
  </div>

</div>