

<div class="row">


  <div class="column">
<div class="container" style="width: 100%;">
      <div class="panel-group">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align: center">
            <a href={{election_link}}>The Election of {{current_election.year}}</a>
          </div>
          <div class="panel-body" style="font-size: small;" [innerHTML]="current_election.blurb">
          </div>
        </div>
      </div>
      </div>
  </div>

  <div class="column">

    <select class="form-control input-sm" id="election_years" (change)="changeYear()">
      <option *ngFor="let election of elections" [value]="election.year">{{election.year}}</option>
    </select>

    <div style="text-align: center;">
      <h2>Popular Vote Share</h2>
    </div>

    <div style="height:20%; display: block;">
      <ngx-charts-pie-chart 
      [results]="data"
      (select)="onSelect($event)"
      [labels]="true" >
      </ngx-charts-pie-chart>
    </div>

    <table class="table table-bordered table-striped mb-0" style="font-size:11px">
      <thead>
          <tr>
              <th>Candidate</th>
              <th>Party</th>
              <th>Vote Number</th>
              <th>Vote Percentage</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of percentages">
          <td *ngIf="row.name == current_election.winner"><mark>{{row.name}}</mark></td>
          <td *ngIf="row.name != current_election.winner">{{row.name}}</td>
          <td>{{row.party}}</td>
          <td>{{row.votes}}</td>
          <td>{{row.percent}}%</td>
      </tr>
      </tbody>
  </table> 

  </div>

  <div class="column">
    <div class="container" [hidden]="!selected_candidate"  style="width: 100%;">
      <div class="panel-group">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align: center;">
            <a href={{current_candidate_link}}>{{current_candidate.name}}</a>
          </div>
          <div class="panel-body" style="font-size: small;" [innerHTML]="current_candidate.blurb">
          </div>
        </div>
      </div>
      </div>
  </div>

</div>