.column {
    float: left;
    width: 33.33%;
    height: 100%;
    display: block;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    height: 100px;
  }
  .chart {
    height: 400px;
    width: 400px;
  }
  
  .chart-lg {
    height: 700px;
  }